@model HW1_BirthdayCard.Models.CardEntry

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>SendForm</title>

</head>

@{
    Layout = null;
}

<!DOCTYPE html>

<h1>@Model.From , Thanks for sending your Birthday Card with us! </h1>
